# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

#Distribution version
dist/

#Sensative Infomation
.env
firebase.json


